12. Time Series Analysis

In [8]:
# set up
from __future__ import print_function, division

%matplotlib inline

import warnings
warnings.filterwarnings('ignore', category=FutureWarning)

import numpy as np
import pandas as pd

import random

import thinkstats2
import thinkplot

    1. Import & Cleaning

In [13]:
transactions = pd.read_csv('mj-clean.csv', parse_dates=[5])
transactions.head()

,city,state,price,amount,quality,date,ppg,state.name,lat,lon
0,Annandale,VA,100,7.075,high,2010-09-02,14.13,Virginia,38.830345,-77.213870
1,Auburn,AL,60,28.300,high,2010-09-02,2.12,Alabama,32.578185,-85.472820
2,Austin,TX,60,28.300,medium,2010-09-02,2.12,Texas,30.326374,-97.771258
3,Belleville,IL,400,28.300,high,2010-09-02,14.13,Illinois,38.532311,-89.983521
4,Boone,NC,55,3.540,high,2010-09-02,15.54,North Carolina,36.217052,-81.687983

In [17]:
def GroupByDay(transactions, func=np.mean):
    
    # groupby date and aggre. mean ppg of day
    grouped = transactions[['date', 'ppg']].groupby('date')
    daily = grouped.aggregate(func)
    
    # get date column
    daily['date'] = daily.index
    
    #new column with years
    
    start = daily.date[0]
    one_year = np.timedelta64(1, "Y")
    
    daily['years'] = (daily.date - start) / one_year
    
    return daily.head()

GroupByDay(transactions)

                  ppg       date     years
date
2010-09-02  11.727733 2010-09-02  0.000000
2010-09-03  11.972892 2010-09-03  0.002738
2010-09-04  13.752500 2010-09-04  0.005476
2010-09-05  15.113333 2010-09-05  0.008214
2010-09-06  15.537500 2010-09-06  0.010952

In [22]:
def GroupByQualityAndDay(transactions):
    groups = transactions.groupby('quality')
    dailies = {}
    for name, group in groups:
        dailies[name] = GroupByDay(group)
    
    return dailies

dailies = GroupByQualityAndDay(transactions)

    2. Plotting

    3. Linear Regression

    4. Moving Averages

    5. Missing Values

    6. Serial Correlation

    7. Autocorrelation

    8. Prediction

    9. Further Reading
    
- Data Analysis with Open Source Tools (O'Reilly)
connects where this books ends, includes autoregression (important tool), in TS2 not included since not useful for this data

    10. Exercise

1 Exercise
- remodel RunLinearModel() quadratic
- make Predictions

In [ ]:
# run Model with quadratic years

def RunQuadraticModel(daily):
    daily['years2'] = daily.years**2
    model = smf.ols('ppg ~ years + years2', data=daily)
    results = model.fit()
    return model, results

# choose high quality data for testing
name = 'high'
daily = dailies[name]

model, results = RunQuadraticModel(daily)
results.summary()

In [ ]:
# Plot Fitted Values

PlotFittedValues(model, results, label=name)
thinkplot.Config(titel = 'Fitted values', 
                xlabels = 'Years',
                xlim = [-0.1, 3.8],
                ylabel = 'Price per gram')

# Plot Predictions
years = np.linspace(0, 5, 101)

thinkplot.Scatter(daily.years, daily.ppg, alpha=0.1, label=name)
PlotPredictions(daily, years, func=RunQuadraticModel)
thinkplot.Config(title = 'predictions',
                xlabel = 'Years',
                xlim = [years[0]-0.1, years[-1]+0.1],
                ylabel = "price per gram in $")